<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <!-- calling the header -->
        <%- include('_header');%>
        
        <main id="layout-main">
            <%- body %>
        </main>
        
        
        <!-- calling the footer -->
        <%- include('_footer');%>
        <%- script %>
    </body>
</html>